<div class="landing-tech">
  <div class="glass-container">
    <img src="assets/pics/GRDF.png" class="logo" alt="GRDF Logo" />
    <h1>Bienvenue dans votre espace <span class="highlight">technicien</span></h1>
    <p class="subtitle">Gérez vos tâches techniques en toute efficacité</p>

    <button class="action-btn" (click)="goToTasks()">⚡ Consulter les tâches</button>
    <button class="action-btn" (click)="goToStats()">📊 Visualiser les statistiques</button>
    <button class="action-btn" (click)="goToNotes()">⭐ Voir les notes des clients</button>

  </div>
</div>
