<h2 class="content-block">🚀 Tasks </h2>

<dx-data-grid class="dx-card wide-card"
              [dataSource]="dataSource"
              [showBorders]="false"
              [focusedRowEnabled]="true"
              [focusedRowIndex]="0"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
              [rowAlternationEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="taskId"
    caption="🆔 Task ID"
    [width]="90"
    [hidingPriority]="2">
  </dxi-column>

  <dxi-column
    dataField="description"
    caption="📋 Description"
    [width]="250"
    [hidingPriority]="8">
  </dxi-column>

  <dxi-column
    dataField="taskDate"
    caption="📅 Task Date"
    dataType="date"
    [hidingPriority]="3">
  </dxi-column>

  <dxi-column
    dataField="rating"
    caption="⭐ Rating"
    [hidingPriority]="4">
  </dxi-column>

  <dxi-column
    dataField="tech.firstName"
    caption="👨‍🔧 Assigned To"
    [allowSorting]="false"
    [hidingPriority]="7">
  </dxi-column>


</dx-data-grid>
