<div class="landing">
  <div class="background-image"></div>

  <div class="glass-container animate-in">
    <img src="assets/pics/GRDF.png" class="logo" alt="GRDF Logo" />
    <h1>Bienvenue sur <span class="highlight">GRDF Tracker</span></h1>
    <p class="subtitle">Suivi intelligent des interventions techniques</p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input type="text" name="email" [(ngModel)]="email" placeholder="Email" required />
      <input type="password" name="password" [(ngModel)]="password" placeholder="Mot de passe" required />
      <div *ngIf="error" class="error-msg">{{ error }}</div>
      <button type="submit" class="submit-btn">Connexion Sécurisée</button>
    </form>
  </div>
</div>
