<div class="background-blur"></div>

<div class="fullpage-center">
  <div class="report-container">
    <div class="header-section">
      <img src="/assets/pics/GRDFF.png" class="logo" alt="GRDF Logo" />
      <h2 class="title">👤 Bienvenue dans votre espace client</h2>
      <p class="subtitle">Gérez vos demandes en toute simplicité</p>
    </div>

    <div class="btn-group">
      <button class="grdf-btn" routerLink="report-issue">🚨 Signaler une défaillance</button>
      <button class="grdf-btn" routerLink="demander-technicien">👷 Demander un technicien</button>
      <button class="grdf-btn" routerLink="liste-demandes">📋 Liste des demandes</button>
      <button class="grdf-btn" routerLink="qualifier-intervention">✅ Qualifier l’intervention</button>
      <button class="grdf-btn danger" (click)="logout()">🚪 Se déconnecter</button>
    </div>
  </div>
</div>
